body {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  text-align: center;
  background: #fff;
  color: #333;
}
/*
div#topbar {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: -10px;
  margin-bottom: 20px;
  background: #181311;
  top: 0;
  left: 0;
  right: 0;
}
*/
div#topbar {
  color: #fff;
  background: #181311;
  padding: 10px;
  text-align: right;
}

img {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

h1.name {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 500; 
}

h2.name {
  color: #fff;
  font-weight: 500; 
  margin-top: 0px;
}

h2 {
  color: #181311;
  font-size: 24px;
  font-weight: 900;
}

h3 {
  color: #181311;
  font-size: 18px;
  font-weight: 900;
}

a {
  color: #783900;
  text-decoration: none;
}

a:hover {
  color: #f07300;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td#left {
  text-align: right;
  vertical-align: text-top;
  padding-left: 30px;
  padding-right: 30px;
}

td#right {
  text-align: left;
  vertical-align: text-top;
  padding-left: 30px;
  padding-right: 30px;
  width: 550px;
}

button {
  margin: 0;
  opacity: 0.8;
  filter: alpha(opacity=80); /*for IE*/
}

button:hover {
  cursor: hand;
  opacity: 1.0;
  filter: alpha(opacity=100); /*for IE*/
}

ul {
  padding-left: 20;
  list-style-type: disc;
  /*list-style: none;*/
  padding-bottom: 5px;
}

li {
  /*margin-top: 10px;*/
  /*margin-bottom: 10px;*/
  font-family: "freight-text-pro"; font-weight: 400; 
}

ul.side {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  padding-bottom: 5px;
}

ul.side li {
  /*display: block;*/
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "freight-text-pro"; font-weight: 400; 
}

ul.skills li {
  margin-left: 6;
}

table.category {
  padding-bottom: 20px;
}

td.year {
  vertical-align: top;
  width: 70px;
  display: block;
  float: left;
  padding-right: 15px;
}

td.year#pubs {
  width: 5px;
}


p.title {
  margin-top: 0;
  margin-bottom: 0;
  left: 15px;
  position: relative;
}


td.description {
  margin-left: 85px;
  padding-left: 15px;
  margin-bottom: 10px;
  text-align: justify;
}

ul.skills {
  margin-left: 15px;
  padding-left: 0px;
  margin-bottom: 10px;
  text-align: justify;
}

i.icon-star {
  color: #f07300;  
}
